window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

workspace "9"
workspace "8"
workspace "7"
workspace "6"
workspace "5"
workspace "4"
workspace "3"
workspace "2"
workspace "1"
workspace "browser"

window-rule {
    match app-id="^org.telegram.desktop$"
    match app-id="^firefox$"
    match app-id="^tor-browser$"
    match app-id="^discord$"
    block-out-from "screencast"
    open-focused false
}
window-rule {
    match app-id="^org.telegram.desktop$"
    open-on-workspace "7"
}
window-rule {
    match app-id="^discord$"
    open-on-workspace "5"
}
window-rule {
    match app-id="^steam$"
    match app-id="^dota2$"
    match app-id="^factorio$"
    match app-id="^steam_app_692890$"
    match app-id="^steam_app_427410$"
    match app-id="^steam_app_2310$"
    match app-id="^steam_app_379720$"
    match app-id="^moe.launcher.an-anime-game-launcher$"
    match app-id="^steam_proton$"
    open-on-workspace "6"
    open-focused false
}
window-rule {
    match app-id="^firefox$"
    open-on-workspace "browser"
}
